# Dependencies files
node_modules/

# Build files
build/

# Ignore logs and temporary voice messages
voices/
logs/

# Config files for production and development versions
config/default.json
config/production.json